################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PACKS.md
/VisualStudio.gitignore
/datapackage_url.json